<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Resources</title>
<style>
body{
	background:url("/media/{{this_resource.thumbnail}}") 
	no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
</head>



<body>
<div class="container-fluid" style ="background-color: grey; text-align: center; margin-left: 20%; margin-right: 20%; margin-top: 20%; padding-bottom: 100px;">
	<h1 style = "font-color: black; text-align: center;">{{ this_resource.title }}</h1>
		{{ this_resource.link_this | safe}}
</div>

</body>

</html>
