{% extends 'base_layout.html' %}

{% block extra_head %}
<title>Test does it work </title>
<style>
body{
	background:url("/media/{{this_resource.thumbnail}}") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
{% endblock %}



{% block content %}


<div class="container-fluid" style ="background-color: #999999;">
	<h1>{{ this_resource.title }}</h1>
	{{ this_resource.body | safe }}
</div>
{% endblock %}
